<app-modal-wrapper (closeModal)="onCloseModal()" title="Edit">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="Firstname">Name:</label>
      <input
        type="text"
        id="firstName"
        class="form-control mt-2"
        formControlName="firstName"
        required
      />
      <div
        *ngIf="
          userForm.get('firstName')?.invalid &&
          userForm.get('firstName')?.touched
        "
        class="text-danger"
      >
        First Name required.
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input
        type="text"
        id="lastName"
        class="form-control"
        formControlName="lastName"
        required
      />
      <div
        *ngIf="
          userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched
        "
        class="text-danger"
      >
        Last Name required.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
        required
      />
      <div
        *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
        class="text-danger"
      >
        Please enter a valid email.
      </div>
    </div>

    <div class="btn-group">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="userForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</app-modal-wrapper>
